<% include ./partials/header %>

<nav>
        <div class="blur-effect not-blurry">
            <div class="logo">
                <a href="/campgrounds"><div class="campground"><h1>Campground</div>
                <div class="quarter-width">
                    <div class="snob"><h1>Snob</h1></div></h1>
                </div>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser) { %>
                        <li><a href="/register">Become a Campground Snob</a></li>
                    <% } else { %>
                        <li><a href="#">Logged In As <strong><%= currentUser.username %></strong></a></li>
                        <li><a href="/logout">Log Out</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

 <div class="centered">
    <div class="half-width-right">
            <p>Log In</p>
            <form id="aside-form" class="aside-form" action="/login" method="POST">
                <input class="hello" tabindex="1" type="text" name="username" placeholder="Username">
                <input class="hello" tabindex="2" type="password" name="password" placeholder="Password">
                <button class="hello btn btn-primary btn-large" tabindex="3">Log In!</button>
            </form>
            <i id="dismiss" class="invisible fa fa-angle-right" aria-hidden="true" tabindex="4"></i>
    </div>
</div>


<% include ./partials/footer %>